#app {

  .col-4 {
    margin-bottom: 25px;
  }

  div.card {
    
    .card-img {
      max-height: 150px;
      max-width: 150px;
    }
  }
}

.CardImgMain {
  max-width:200px;
  max-height:100px;
}